body {
	font-family: "open sans", "segoe ui", sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  width: 100%;
  max-width: 350px;
  z-index: 1;
}

h3{
color: black;
}

.contente{
  color: #fff;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.formulario {
  background-color: #FFFFFF;
  padding: 25px;
}

/* BACKGROUND */
.background, .backdrop {
	background-color: #3f689c;
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	background-size: cover;
  height: 100vh;
}
.backdrop {
	background: #333333;
  filter: brightness(30%);	opacity: .30%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.background {
	background-image: url('../img/academia.jpg');
  filter: brightness(30%);

}

/* HEADER */
.formulario .header {
	text-align: center;
}
.formulario .header h3 {
	font-weight: lighter;
  font-size: 20px;
  margin: 10px 0;
}
/* logo */
.formulario .header .logo {
	border: 1px solid #CCC;
  border-radius: 50%;
  margin: 0 auto;
  width: 87px;
  height: 87px;
}
.formulario .header .logo .logo-area {
	border: 1px solid #CCC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  margin: 5px;
}
/* fonte */
.formulario .header .logo .logo-area {
  background: #F2F2F2;
  color: #0D0D0D;
  font-size: 14px;
  font-weight: bold;
}


#logo{
height: 50px;
}


/* INPUT */
.formulario .icone {
  width: 30px;
  vertical-align: middle;
  border: 0;/**/
  padding: 0;/**/
}
.formulario .input {
	border-bottom: 1px solid #CCCCCC;
  margin-top: 15px;
  font-size: 20px;
  color: #9e9e9e;
	padding-bottom: 5px;
}

.formulario .inputt {
  color: #9e9e9e;
}




.formulario .input input {
	border: 0;
	width: calc(100% - 1px);
  padding: 0;/**/
}
.formulario .input input:focus {
    outline: none;
}
.formulario #show-password {
	cursor: pointer;
}



/* BOTOES */
.formulario .btn {
	cursor: pointer;
  display: block;
  border: 0;
  height: 20px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
	transition: background .3s;
}
.formulario .btn:focus {
	outline: none;
}
.formulario .btn-login {
  background: #2f7fd6;
  color: #FFFFFF;
	margin-top: 15px;
  width: 100%;
  height: 40px;
}
.formulario .btn-login:hover {
	background: #1e6fb8;
}
.formulario .btn-registrar {
  background: #dbdbdb;
  color: #676464;
  text-decoration: none;
	margin-top: 5px;
}
.formulario .btn-registrar:hover	{
	background: #cdcdcd;
}


.contente { 

  margin-top: 40px;
  }



@media (max-width: 261px) {
  .xs-hidden {
    display: none !important;
  }
}
@media (min-width: 262px) {
  .xs-show {
    display: none !important;
  }
}

/* ATRIBUIÇÃO */
.attrib {
  text-align: center;
  margin-top: 7px;
  color: #aaa;
  line-height: 25px;
}