* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    /*esse header está um pouco redundante, tanto faz usar esses parametros abaixo nele ou no id=#menu */
  background-color: #fff;
 z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;

}
/*
#menu{
    height: 300px;
    width: 100%;
    padding: 1px;
  
    border-bottom: #189eb9 1px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.124);
}*/
#teste{
   display: flex;
    justify-content: flex-start;
    float: left;
  
   
}
.logo-imagem{
    /* tamanho da caixa da logo */
   
    height: 70px;
    border-radius: 45px;

    margin: 5px 50px;
  }
#img{
    /* imagem vai ocupar o tamanho da div em que ela está contida */
    /* arredondei a imagem */
    height: 100%;
   
}


#fundo-academia{
  height: 100vh;
width: 100%;
opacity: 100%;
filter: brightness(30%);
}

nav{
  margin-top: 15px;
}

nav ul li{
  display: inline-block;
  margin-left: 10px;
}
nav ul li a{
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  padding: 0 10px;
}
nav ul li a:after{
  content:"";
  position: absolute;
  background-color: #f66335;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -4px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}

  .opcoes{
      /* CAIXA de texto INterior do top e do Z-index*/
      display: flex;
      gap: 3px;      
      justify-content: end;  
  }
  
  .opcoes li{
      /*Caixa de texto dos botões superiores topo*/
      display:list-item;  /* < --- codigo interessante para interações diferenciadas dos botões superiores*/
      width: 120px;
      height: 50px;
      /*margin-top: 10px;*/
      list-style: none;               
      
      transition: all .10s linear; 
  }
    .opcoes li a{
      /* CAIXA DE BOTÕES DE SERVIÇOS DO LOGIN*/
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: #000000;
      text-decoration: none;
      font-size:0.8em;
      transition: all .30s linear;
      /*border-radius: 5px;*/
      font-weight: bold;
      background-color: #fff;
  }   
  .opcoes li:hover > a{
      background-color: #131616;
      color:#ffffff;
  }
  
 
  .opcoes li:hover{
      /*CAIXA GERAL  DOS HOVERS*/
      display:inline-block;     
  }
 

/* NAVBAR MENU RESPONSIVA*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 30px;
  /* user-select: none; */
  color: #0c0c0c;
  cursor: pointer;
 }
/* NAVBAR MENU */
.menu {
  display: flex;
  font-size: 18px;
 }
 .menu li:hover {
  border-radius: 5px;
  transition: 0.3s ease;
 }

 
@media (max-width: 850px) {


  #fundo-academia{
    height: 125vh;
    width: 100%;
    opacity: 100%;
    filter: brightness(30%);
    }



  #img{
    margin: 0px 50px;
  }

  .logo-imagem{
    /* tamanho da caixa da logo */
    margin: 5px 0px;
  }

 .menu { 
      display:none;
      position: absolute;
      text-align: center;
      margin-top: 74px;
     
     }
     #menu li{
      margin: 0;
      padding: 0;
      width: 100vw;
      
     }
     .menu li:hover {
      /*display: inline-block;*/
      display: inline-block;
      transition: 0.3s ease;
      margin-top: 0;
     }
     input[type=checkbox]:checked ~ .menu{
      display: block;
     }
     .hamburger {
      display: block;
      margin-left: 70px;
     }
    
     
}