@import 'headercopy.css';
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    border: 2px solid black;
}
header{
    width: 100%;
    background:#3498db ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
ul li a {
    text-decoration: none;
}

.conteudo{
    display: flex;
    align-items: center;
}
.box-right{
    background-image: url("img/academiaIndex.svg");
    background-repeat: no-repeat;
    width: 50%;    
}
.img-index{
    width: 600px;
}