  @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}
.container{
    margin: 100px auto;
    max-width: 720px;
    background-color: #ffffffe7;
    padding: 20px;
}
.box-personal,
.box-aluno,
.box-adm{
    display: none;
}
form{
    display: block;
    margin-top: 15px;
}
input{
    display: block;
    padding: 12px;
    font-size: 1.2rem;
}
button{
    margin: 15px 5px 10px 0;
    width: 150px;
    cursor: pointer;
    border: 2px solid orange;
    border-radius: 4px;
}
button:hover{
    /* transition: all .2s ease-in; */
    transform: scale(1.1);
    box-shadow: 0px 0px 5px #934d03;
    z-index: 2;
}
a{
    padding: 20px;
    text-decoration: none;
    color: #000;
    display: block;
    width: 100%;
}