*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90vh;
    margin: 20px auto 0;
}
#msg{
    margin: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    background-color: whitesmoke;
    margin-bottom: 30px;
}
#cabecalho{
    background-color: #b3093f;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}
.celula{
    padding: 10px 20px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
tr{
    text-align: center;
    border-bottom: 1px solid #bbb;
}
tbody tr td{
    padding: 7px;
}
#td-nome{
    text-align: left;
}


