 
form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #fff;
    max-width: 100%;
    padding: 20px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}
label{
    font-weight: 600;
}
input{
    font-size: 1em;
    padding: .5em;
}

a{
    color: blueviolet;
}
button{
    width: 100px;
    padding: 7px;
    background-color: rgb(37, 218, 37);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    margin: 7px 0;
}